<div class="welcome-image text-center">
    <img src="<%= asset_path( 'welcome_burned.png' ) %>" />
</div>

<div class="row">
    <% @blogs.each do |blog| %>
        <div class='col-lg-4 col-md-6'>
            <div class="image">
                <h4><%= link_to blog.title, blog_url(blog) %></h4>
                <%= image_tag(blog.image_url(:medium), class: "img-responsive") %>
            </div>
        </div>
    <% end %>
</div>

<%= will_paginate @blogs %>
