// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome-image img {

     width: 500px;
     length: 200px;
 }

 .calm-welcome img {
     width: 382px;
     length: 100px;
 }

.table-responsive {

    margin-top: 85px;
}

div.table-responsive > table > tbody tr td {

    padding: 30px;
}

div:nth-child(3) > div > div.panel.panel-default {

     margin-top: 50px;
 }

 @media screen and (max-width: 992px) {

     .img-responsive {

         width: 100%;
     }
 }



